service vendor.camera-aether /vendor/bin/hw/aether.camera@2.7-service
    interface android.hardware.camera.provider@2.7::ICameraProvider default
    class hal
    user cameraserver
    group cameraserver system
